<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/compsci">Study tools</a></li>
        <li class="fork"><a href="{{site.baseurl}}/blogs">Posts</a></li>
        <li class="title"><a href="https://chat.openai.com/c/4eee0144-ff73-469b-9ad4-97b3db2c044d">AI help</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme">View On GitHub</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>

